/* 顶部 */
header{
	display: flex;
	justify-content: flex-end;
	position: relative;
}
header ul{
	display: flex;
}
header li{
	padding: 15px;
}
header li:nth-child(1){
	background: url(../images/list_03-11_03.png);
	background-repeat: no-repeat;
	background-position: 0% -50%;
}
header li:nth-child(2){
	background: url(../images/list_03-11_03.png);
	background-repeat: no-repeat;
	background-position: 0% 50%;
}
header li:nth-child(3){
	background: url(../images/list_03-11_03.png);
	background-repeat: no-repeat;
	background-position: 0% 150%;
}
header span{
	display: block;
	width: 250px;
	height:72px;
	padding: 5px 20px 5px 20px;
	background-color: #FFFFFF;
	position: absolute;
	top: 60%;
	left: 0;
}
header span img{
	width: 100%;
	height: 70%;
	transition: all; 1s
}

/* 导航 */
nav{
	width: 100%;
	background-color:rgba(0,125,107,1) ;
}
nav ul{
	display: flex;
	justify-content: flex-end;
}
nav ul li{
	border-right: 1px #fff solid;
	text-align: center;
}
nav ul li a{
	display: inline-block;
	padding: 15px;
	color: #FFFFFF;
}
nav ul li a:hover{
	background-color: rgba(0,0,0,0.5);
}
/* banner */
.banner{
	width: 100%;
	background: url(../images/10.png);
	margin-bottom: 15px;
}
.banner span{
	display: block;
	width: 100%;
	max-width: 1021px;
	position: relative;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}
.banner span img{
	width: 100%;
}
.searchs{
	width: 100%;
	display: none;
	background-color: #CCCCCC;
}
.searchs ul{
	display: flex;
	justify-content: center;
}
.searchs ul li{
	
	padding: 5px;
}
/* 内容 */
.main{
	margin: 15px auto;
	display: flex;
	justify-content: space-between;
}
.main .mainL{
	width: 30%;
	padding: 5px;
	border: 1px #007D6B solid;
	height: 450px;
}
.main .mainL h2{
	padding:10px 10px 10px 25px;
	font-size: 24px;
	background-color: #007D6B;
	background-image: url(../images/list_03.png);
	background-repeat:no-repeat ;
	background-position: 5% center;
	background-size: 10px 10px;
	color: #FFFFFF;
}
.main .mainL .mainLT ul{
	padding: 15px;
}
.main .mainL .mainLT li{
	padding: 5px 0 10px 20px;
	border-bottom:1px #007D6B dashed ;
	background-image: url(../images/list_07.png);
	background-repeat: no-repeat;
	background-position: left center; 
}

.main .mainL .mainLB .search{
	display: flex;
	justify-content: space-between;
	padding: 15px;
	align-items: center;
}
.main .mainL .mainLB .search input{
	width: 70%;
	border: 1px #ccc solid;
}
/* 右边内容 */
.main .mainR{
	width: 65%;
}
/* 右内容顶部 */
.main .Product{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px #007d6b solid;
	padding-bottom:10px ;
	margin-bottom: 10px;
}
.main .Product h4{
	padding-left: 20px;
	background-image: url(../images/list_03-11_03.png);
	background-repeat: no-repeat;
	background-position:0% -8%;
	color: #007D6B;
}
.main .Product img{
	width: 32px;
	height: 9px;
	
}
.main .Product p{
	font-size: 12px;
}
/* 右边图片 */
.main .mainR ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 15px;
}
.main .mainR li{
	width: 30%;
}
.main .mainR li img{
	width: 100%;
	height: 80%;
}
.main .mainR li p{
	padding: 5px;
	text-align: center;
	background-color: rgba(239,239,239,1);
}
/* 点击换页 */
.main .mainR .warp{
	display: flex;
	justify-content: space-between;
}
.mian .mainR .warp section{
	border: none;
	outline: none;
	
}
/* 产品详情 */
.main .mainR .mainRM{
	width: 100%;
	padding: 10px;
}
.main .mainR .mainRM h2{
	text-align: center;
}
.main .mainR .mainRM img{
	width: 100%;
	margin: 10px 0;
}
.main .mainR .mainRM dl dt{
	font-weight: bold;
	font-size: 20px;
	margin: 5px 0;
}
.main .mainR .mainRM dl dd{
	letter-spacing: 5px;
	line-height:1.5em;
}