header ul{
	display: none;
}
header span{
	position: static;
	width: 1021px;
	height: 50px;
}
header span img{
	width: 225px;
	height: 42px;
}

nav ul{
	justify-content: flex-start;
	margin-left:20px ;
}
nav ul li{
	display: none;
}
nav ul li:nth-child(1){
	display: block;
}
nav ul li:nth-child(2){
	display: block;
}
nav ul li:nth-child(3){
	display: block;
}
nav ul li:nth-child(4){
	display: block;
}

.main{
	flex-wrap: wrap;
	padding: 15px;
}
.main .mainLeft{
	width: 100%;
	margin-bottom: 10px;
}
.main .mainRight{
	width: 100%;
}
.main .mianRight .mainRightM img{
	margin-right: 10px;
}

.main .Products{
	width: 100%;
}
article{
	display: none;
}

footer{
	color: #FFFFFF;
	background-color: #007D6B;
}