* {
	margin: 0;
	padding: 0;
}

h2 {
	border-bottom: 1px solid chocolate;
	position: relative;
	height: 35px;
	
}

h2 span {
	border-bottom: 3px solid cornflowerblue;
	display: inline-block;
	position: absolute;
	left: 0;
	bottom: -1.5px;
	margin-left: 15px;
}

.form-group {
	margin-bottom: 15px;
	margin-left: 30px;
	margin-top: 15px;
}

.form-group select {
	border: none;
	background-color: #fff;
}

.form-group label {
	display: inline-block;
	width: 100px;
}
.form-group input{
	padding: 5px;
	width: 200px;
}
.form-group button {
	background-color: royalblue;
	border: none;
	width: 100px;
	height: 30px;
}
