*{
	box-sizing: border-box;
}
.body{
	background-color: #7798a3;
	
}
nav{
	padding: 15px;
}
.h3{
	margin-left: -15px;
	padding: 15px;
	background-color:#e3e9ec ;
}
.row{
	margin-left: -15px;
}
[class^=col] p{
	color: #000000;
}
[class^=col] span{
	color: #000000;
}
.gr:nth-child(2){
	border: none;
	border-top: 5px skyblue solid;
	border-bottom: 5px skyblue solid;
	padding-bottom: 15px;
}
.gr:nth-child(3){
	padding-bottom: 15px;
}
.gr:nth-child(2) p{
	color: #03d1ff;
}
.gr:nth-child(3) p{
	color: #03d1ff;
}
h5{
	color: #000000;
}
.h3{
	color: #000000;
}



.mainL{
	background-color: #e3e9ec;
	border-right: 5px #7798a3 solid;
}
.mainR{
	background-color: #e3e9ec;
	border-bottom:  5px #7798a3 solid;
}
.mainR p{
	text-indent: 2em;
}
footer{
	background-color: #e3e9ec;
	padding: 15px;
}
