*{margin:0;padding:0;}
ul,li{list-style: none;}
#music audio{background-color: #ffffff;}
.box{width: 600px;margin: 0 auto;text-align: center;}
form{margin: 10px 0;line-height: 40px;}
form input{width: 200px;padding: 5px;}
form label{display: inline-block; width: 100px;text-align: right;}

header{font-size: 30px;background-color: #CCCCCC;line-height: 50px;}

footer{background-color: #CCCCCC;padding: 10px;margin-top: 10px;}
footer input{border: none;background-color: #CCCCCC;}
footer input:hover{cursor: pointer;}