ul,li{
    list-style: none;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.box{
    width:1024px;
    margin: 0 auto;
    display: flex;
	justify-content: center;
	position: relative;
}
.btns{
	display: none;
	z-index: 999;
}
.btns button{
	width: 50px;
	height: 100px;
	background-color: rgba(0,0,0,0.5);
}
.btns button:first-child{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left:62px;
}
.btns button:last-child{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right:62px;
}
.box .wrap{
    width:300px;
	overflow: hidden;
}
.wrap ul{
    width: 3000px;
    display: flex;
	position: relative;
	top: 0;
	left: 0;
}
.wrap ul li{
    width: 300px;
}
.wrap ul li img{
    max-width: 100%;
}

